@{
    ViewData["Title"] = "Startsidan";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p>Den här webbplatsen hanterar en fiktiv CD-samling.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, neque voluptates unde necessitatibus quae animi repellat iure autem ipsam debitis velit sed omnis consequuntur dolores accusantium minus quisquam saepe nisi!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae optio praesentium necessitatibus asperiores impedit dicta. Consequuntur consectetur veritatis architecto quo, placeat fuga, id doloribus nostrum expedita minus recusandae illum saepe?</p>
</div>
